
.cnt {
    display: flex; 
    flex-direction:  row ; 
    min-height: 15rem;
    border-radius: 1rem ;
    background: #ee9ca7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    align-items: center;
    padding: 2px;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-right: 7.5rem;
    padding-bottom: 3.8rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    
}

.day{
    max-height : 2rem ;
    max-width :  2rem ;
    padding-left: 0.8rem;
    
    
} 

.min{
    max-height : 2rem ;
    max-width :  2rem ;
    padding-left: 5.2rem;
}

.sec {
    max-height : 2rem ;
    max-width :  2rem ;
    padding-left: 6.5rem;
}

.m {
     
width: fit-content;
block-size: fit-content;

} 

.im {
   width: 21rem;
   border-radius: 1rem;
}
